.navbar {
  border-bottom: 1px solid #ccc !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
}

/* Essa parte foi pra forçar a exibição no mobile, estava quebrando */
@media (max-width: 768px) {
  .navbar {
    border-bottom: 1px solid #ccc !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
  }
}

.navbar-brand img {
  max-width: 100%;
  display: block;
  animation: blinking 1s infinite;
}

@keyframes blinking {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.footer {
  background-color: #333;
  padding: 20px 0;
  color: black;
}

.footer .nav-link,
.footer .nav-link:hover,
.footer .nav-link:focus {
  color: black !important;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.footer .nav-link:hover {
  color: #555 !important;
}

.navbar-nav .nav-link,
.navbar-nav .dropdown-toggle,
.dropdown-item {
  font-size: 1.4rem;
}

.navbar-nav .dropdown-toggle {
  font-weight: bold;
}

body {
  padding-top: 120px;
}
.imgs {
  max-width: 60 !important;
  max-height: 60px !important;
  width: 60px !important;
  height: 60px !important;
}
.d-flex {
  align-items: center;
}
.custom-breadcrumb {
  margin-top: -5%;
}
