/* Estilos personalizados que podem ser necessários além do Bootstrap */
.logo-zoom {
	animation: logo-zoom 2s infinite alternate ease-in-out;
}

@keyframes logo-zoom {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.1);
	}
}

/* Ajustes para assegurar que o conteúdo não fique sob a navbar */
body {
	padding-top: 80px; /* Ajuste conforme a altura da sua navbar */
}

.navbar-brand img {
	max-width: 100%; /* Assegura que o logo não ultrapasse o tamanho do contêiner da marca */
}

.card img {
	width: 100%;
	height: auto;
}

.card:hover {
	transform: translateY(-5px);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Centralização e estilização do botão */
.card-body .btn {
	position: absolute; /* Posiciona o botão absolutamente dentro do card-body */
	bottom: 10px; /* Margem do fundo do card */
	left: 50%; /* Centraliza horizontalmente */
	transform: translateX(-50%); /* Ajuste fino para centralização perfeita */
	width: 90%; /* Ajusta a largura do botão */
	background-color: #000 !important; /* Cor do botão */
	color: #fff !important; /* Cor do texto no botão */
	border: none; /* Remove qualquer borda padrão */
}

.card-body .btn:hover {
	background-color: #333 !important; /* Cor do botão ao passar o mouse */
}

.footer {
	background-color: #f5f5f5;
	padding: 20px 0;
	color: #666;
}

.footer .nav-link {
	color: #333;
	transition: color 0.3s;
}

.footer .nav-link:hover {
	color: #555;
}

/* Ajuste do tamanho da fonte e do negrito nos itens do menu */
.navbar-nav .nav-link,
.navbar-nav .dropdown-toggle,
.dropdown-item {
	font-size: 1.4rem; /* Tamanho da fonte ajustado para 1.4rem */
}

.navbar-nav .dropdown-toggle {
	font-weight: bold; /* Negrito para o dropdown "Campeões" */
}

/* Removendo o espaço adicional entre a logo e os itens do menu */
.container-fluid {
	padding-left: 0; /* Remove o padding extra */
}

/* Ajustando os boxes para que todos exibam na mesma linha em desktops */
@media (min-width: 992px) {
	/* Bootstrap breakpoint para desktops grandes */
	.row.row-cols-lg-4 {
		display: flex; /* Força o display flex */
		flex-wrap: nowrap; /* Não permite quebra de linha */
	}

	.col {
		flex: 0 0 20%; /* Define que cada coluna ocupa 20% da linha */
		max-width: 20%; /* Define a largura máxima para 20% para evitar quebras */
	}
}

/* Garantindo que todos os boxes do card tenham o mesmo tamanho */
.card {
	height: 100%; /* Garante que todos os cards tenham a mesma altura */
	position: relative; /* Necessário para o posicionamento absoluto do botão */
}
